<div class="navbar navbar-fixed-top" ng-controller="HeaderCtrl">
	<div class="navbar-inner">
		<div class="container-fluid">

			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" ng-show="tracker" href="/#/tracker/{{tracker.tracker_id}}">{{tracker.title}}</a>
			<a class="brand" ng-hide="tracker" href="/">Turnabout Tracker</a>

			<div class="nav-collapse">
				<ul class="nav">
					<li><a class="nav" href="/">Home</a></li>
				</ul>
			</div>

			<form class="navbar-form pull-right">
			</form>

			<ul ng-hide="current_user" class="nav dropdown pull-right">
				<li class="dropdown">
					<a href="javascript: return false;" class="dropdown-toggle" data-toggle="dropdown">Log In <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<table class="form">
								<tr><td>
									<input type="text" name="username" placeholder="Username">
								</td></tr>
								<tr><td>
									<input type="password" name="password" placeholder="Password">
								</td></tr>
								<tr><td>
									<button type="submit" class="btn submit" ng-click="session_create()">Log In</button>
								</td></tr>
							</table>
						</li>
					</ul>
				</li>
			</ul>

			<ul ng-show="current_user" class="nav dropdown pull-right">
				<li class="dropdown">
					<a href="javascript: return false;" class="dropdown-toggle" data-toggle="dropdown">
						<img ng-src="http://www.gravatar.com/avatar/{{current_user.gravatar}}?s=16" style="border-radius: 4px;">
						{{current_user.name || current_user.username}}
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#/user/{{current_user.user_id}}">My Profile</a></li>
						<li><a href="#/user/{{current_user.user_id}}">Settings</a></li>
						<li><a ng-click="session_delete()">Log Out</a></li>
					</ul>
				</li>
			</ul>

			<ul ng-show="trackers.length" class="nav dropdown pull-right">
				<li class="dropdown">
					<a href="javascript: return false;" class="dropdown-toggle" data-toggle="dropdown">My Trackers <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li ng-repeat="tracker in trackers">
							<a href="#/tracker/{{tracker.tracker_id}}">{{tracker.title || tracker.name}}</a>
						</li>
					</ul>
				</li>
			</ul>

		</div>
	</div>
</div>

<div style="width: 100%; height: 64px;"></div>
