<div class="navbar navbar-fixed-top" ng-controller="HeaderCtrl">
	<div class="navbar-inner">
		<div class="container-fluid">

			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" ng-show="tracker" href="/#/tracker/{{tracker.tracker_id}}">{{tracker.title}}</a>
			<a class="brand" ng-hide="tracker" href="/">Turnabout Tracker</a>

			<form class="navbar-form pull-right">
			</form>

			<div class="nav-collapse">
				<ul class="nav">
					<li ng-repeat="tracker in trackers">
						<a href="#/tracker/{{tracker.tracker_id}}">{{tracker.title || tracker.name}}</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
</div>

<div style="width: 100%; height: 64px;"></div>
