<div class="container-fluid" ng-controller="StoryReadCtrl">
	<div class="row-fluid">
		<div class="span8">

<section>
	<!-- <h3 ng-hide="story.editing">{{story.title}}</h3> -->
	<div class="ss tightform form">
		<input type="text" ng-model="story.title" style="font-size: 1.5em; height: 2em;" placeholder="Title" />
	</div>
	<div class="ss tightform form" style="min-height: 32px;">
		<span ng-hide="story.editing" style="float: right; padding-right: 4px;"><a ng-click="edit()">Edit</a></span>	
		<markdown ng-model="story.description"></markdown>
		<textarea ng-show="story.editing" ng-model="story.description" rows="6" placeholder="Description"></textarea>
	</div>
</section>

<section class="comments">
	<div class="ss tightform">
		<input type="text" ng-model="query" placeholder="Filter {{story.comments.length}} comments" style="width: 100%;">
	</div>

	<ul class="nodots">
		<li class="ss" ng-repeat="comment in story.comments | filter:query">
			<span class="username">{{comment.user.name || comment.user.username}}</span>
			<time>{{comment.posted}}</time>
			<a class="del" ng-click="comment_delete(comment)">Delete</a>
			<p>{{comment.text}}</p>
		</li>
	</ul>

	<div class="ss tightform" ng-controller="CommentCreateCtrl">
		<textarea ng-model="comment.text" style="width: 100%;" rows="6"></textarea>
		<br><input style="width: 100%;" type="button" value="Add Comment" ng-click="save()">
	</div>
</section>

		</div>
		<div class="span4">

<section>
	<div class="ss">
		<span><a ng-click="save()">Save</a> |</span>
		<span><a ng-click="cancel()">Cancel</a> |</span>
		<a ng-click="delete()">Delete</a>
		
		<div style="float: right;">
			<div ng-include src="'static/partials/state-edit.html'"></div>
		</div>
	</div>
	<div class="ss">
		<table style="width: auto;" class="form tightform">
			<thead>
				<tr>
					<td colspan="3">
						<select
							ng-model="story.storytype_id"
							ng-options="storytype.storytype_id as storytype.name for (storytype_id, storytype) in tracker.storytypes"
						>
						</select>
					</td>
				</tr>
			</thead>
			<tr ng-repeat="(key, val) in tracker.storytypes[story.storytype_id].fields">
				<td style="width: 10%; white-space: nowrap; text-align: right;">{{key}}:</td>
				<td style="" ng-switch="val">
					<div ng-switch-when="User()">
						<select
							ng-model="story.fields[key]"
							ng-options="user_name as user_name for (user_name, user) in tracker.users"
						>
						</select>
					</div>
					<div ng-switch-when="Boolean()">
						<input type="checkbox" ng-model="story.fields[key]" />
					</div>
					<div ng-switch-when="Integer(0, 12)">
						<input type="number" ng-model="story.fields[key]" min="0" max="12" />
					</div>
					<div ng-switch-when="Date()">
						<input type="date" ng-model="story.fields[key]" />
					</div>
					<div ng-switch-when="DateTime()">
						<input type="datetime" ng-model="story.fields[key]" />
					</div>
					<div ng-switch-when="Story()">
						<span ng-hide="story.editing"><span ng-show="story.fields[key]"><a href="#/tracker/{{story.tracker_id}}/story/{{story.fields[key]}}">#{{story.fields[key]}}</a></span></span>
						<input type="text" ng-show="story.editing" ng-model="story.fields[key]" />
					</div>
					<div ng-switch-default>
						<span ng-hide="story.editing">{{story.fields[key]}}</span>
						<input type="text" ng-show="story.editing" ng-model="story.fields[key]" />
					</div>
				</td>
				<td style="width: 10%; white-space: nowrap;">{{val}}</td>
			</tr>
		</table>
	</div>
</section>
<!--
<section>
	<div class="ss tightform">
		<div class="row-fluid" ng-repeat="attachments in story.attachments | groupCount:3">
			<div class="span4" style="text-align: center; word-wrap: break-word;" ng-repeat="attachment in attachments">
				<a style="background: white; position: relative;" class="thumbnail" href="{{attachment.data_url}}">
					<img ng-src="{{attachment.thumbnail_url}}" />
				</a>
				{{attachment.filename}}
				<a ng-click="attachment_delete(attachment)">Delete</a>
			</div>
		</div>

		<hr ng-show="story.attachments.length" />

		<form action="/tracker/{{tracker.tracker_id}}/story/{{story.story_id}}/attachment"
				enctype="multipart/form-data" method="POST" style="margin: 0px;">
			<input type="file" name="file" style="width: 100%;">
			<br><input type="submit" value="Upload" style="width: 100%;">
		</form>
	</div>
</section>
-->
<section>
	<h3>Debug</h3>
	<div class="ss" style="overflow: auto;">
		<pre>$scope.story = {{story | json}};

$scope.tracker = {{tracker | json}};</pre>
	</div>
</section>

		</div>
	</div>
</div>
