<section>
	<div class="ss tightform form">
		<input type="text" ng-model="query" placeholder="Filter {{stories.length}} stories" />
	</div>

	<ul ui-sortable="sortableOptions" ng-model="stories" class="nodots">
		<li class="ss" ng-repeat="story in stories | filter:query">
			<div style="float: right;">
				<div ng-include src="'static/partials/state-edit.html'"></div>
			</div>
			<a href="#/tracker/{{tracker.tracker_id}}/story/{{story.story_id}}">
				<img ng-src="/static/img/storytype_icons/{{tracker.storytypes[story.storytype_id].icon}}_16.png">
				{{story.story_id}} - {{story.title}}
			</a>
		</li>
	</ul>
</section>
