<div ng-include src="'static/partials/header.html'"></div>

<div class="container-fluid" ng-controller="TrackerReadCtrl">
	<div class="row-fluid">
		<div class="span8">

<section class="stories">
	<div class="ss tightform form">
		<input type="text" ng-model="query" placeholder="Filter {{stories.length}} stories" />
	</div>

	<ul ui-sortable ng-model="stories">
		<li class="ss" ng-repeat="story in stories | filter:query">
			<a href="#/tracker/{{tracker.tracker_id}}/story/{{story.story_id}}">{{story.story_id}} - {{story.title}} ({{story.type}})</a>
		</li>
	</ul>
</section>

		</div>
		<div class="span4">

<section>
	<div class="ss tightform" ng-controller="StoryCreateCtrl">
		Create new story:
		<select ng-model="storytype">
			<option ng-repeat="storytype in storytypes" value="{{storytype.storytype_id}}">
				{{storytype.name}}
			</option>
		</select>
		<input type="button" ng-click="" value="Create">
	</div>
</section>

<section>
	<div class="ss tightform form">
		<input type="text" ng-model="tracker.name">
		<input type="text" ng-model="tracker.title">
		<input type="button" value="Save" ng-click="save()">
	</div>
</section>

<section>
	<div class="ss tightform form" ng-repeat="storytype in storytypes">
		{{storytype.name}}: <span style="float: right;">[<a href="">Delete Type</a>]</span>
		<ul>
			<li ng-repeat="(key, val) in storytype.fields">
				{{key}}: {{val}} <span style="float: right;">[<a href="">X</a>]</span>
			</li>
			<li>
				<a href="">Add Field</a>
			</li>
		</ul>
	</div>
	<div class="ss tightform form">
		<input type="text" placeholder="Type Name" />
		<input type="button" value="Add Story Type">
	</div>
</section>

		</div>
	</div>
</div>
