/* app */

/** {
	box-sizing: border-box;
}*/

TABLE TD {
	font-size: 13px;
}

BODY {
	background: #DED;
}
INPUT[type="text"],
INPUT[type="password"],
INPUT[type="email"],
INPUT[type="date"],
INPUT[type="datetime"],
INPUT[type="number"] {
	height: 28px;
}

PRE {
	margin-bottom: 0px;
}

SECTION,
SECTION .ss,
SECTION>H3 {
	border: 1px solid #88A;
	border-radius: 4px;
	padding: 4px;
	margin: 4px;
}
SECTION {
	background: #AAF;
	box-shadow: 0 0 4px #888;
	margin-bottom: 1em;
}
SECTION>H3 {
	background: #CCE;
	box-shadow:  0 0 4px #888;
	text-align: center;
}
SECTION .ss {
	background: #DDF;
	box-shadow: inset 0 0 4px #888;
}

TABLE.form {
	width: 100%;
}
TABLE.form TBODY TD:first-child {
	text-align: right;
	width: 10px;
	padding-right: 8px;
	padding-left: 8px;
}

.tightform INPUT,
.tightform TEXTAREA,
.tightform SELECT {
	margin-bottom: 0px;
}

.form INPUT[type="text"],
.form INPUT[type="password"],
.form INPUT[type="email"],
.form INPUT[type="number"],
.form INPUT[type="button"],
.form INPUT[type="date"],
.form INPUT[type="datetime"],
.form TEXTAREA,
.form SELECT {
	width: 100%;
}
.form TD {
	padding: 2px 4px;
}

UL.nodots {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.comments LI .username {
	font-weight: bold;
}
.comments LI TIME {
	float: right;
}
.comments LI .del {
	float: right;
	padding-right: 4px;
}

.stateButton {
	border: 1px solid #666;
	border-radius: 4px;
	padding: 1px 3px;
}
